body{
    background-image: url(../images/marr.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 80px);
}
.acordion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: rgba(16, 64, 148, 0.568);
    border-radius: 10px;
    font-family: cursive;
    border: solid rgba(15, 185, 111, 0.685);
    margin: 0 auto; 
    max-width: 600px; 
    padding: 20px;
    box-shadow: 5px 5px 5px #007bff;
    
}
h1{
    text-align: center;
    text-shadow: 3px 3px 5px white;
}

/* Estilos para los botones del acordeón */
.accordion-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #6f43c8e9; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para el cuerpo del acordeón */
.accordion-body {
    background-color: #39756d7d; /* Color de fondo del cuerpo */
    color: #5e2ec4; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    text-align: justify; /* Justifica el texto */
    padding: 15px; /* Añade espacio alrededor del cuerpo */
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
nav{
    background: rgba(39, 131, 159, 0.926);
    height: 80px;
    width: 100%;

}
.enlace{
    position: absolute;
    padding: 30px 60px;
}
.logo{
    height: 75px;
    width: 75px;
    border-radius: 1cm;
    transform: translate(-50%, -37%);
}
.logo:hover{
    transform: scale(1.2)
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-align: uppercase;
}
li a.active, li a:hover{
    background: #47d7d2;
    transition: .5s;
    border-radius: 2cm;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
section{
    background: url(../images/barco.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
.titulo{
    text-align: center;
    position: absolute;
    transform: translate(-100%, -15%);
    width: 700px;
    background: rgba(300, 300, 300, 300);
    background-color: rgba(144, 161, 158, 0.303);
    border-radius: 20px;
    font-family: cursive;
    margin: 6cm;
    margin-left: 29cm;

}


.titulo h1{
    font-size: 75px;
    color: rgba(10, 44, 81, 0.83);
    text-shadow:4px 4px 0 rgba(208, 216, 241, 0.456);
    text-align: center;
    
}
.titulo h3{
    font-size: 35px;
    color: rgb(242, 238, 238);
    font-family: cursive;
    text-align: justify;

}